
// Screen Size
$tablet-width: 768px;
$desktop-width: 1280px;
$bigdesktop-width: 1920px;



// Color Scheme
$brown: #5E412F;
$cream: #FCEBB6;
$aqua: #78C0A8;
$orange: #F07818;
$yellow: #F0A830;
$pink: #ff8181;

