
// Screen Size
$mobile-width: 350px;
$tablet-width: 768px;
$desktop-width: 1280px;
$bigdesktop-width: 1920px;



// Color Scheme
$brown: #5E412F;
$cream: #FCEBB6;
$aqua: #78C0A8;
$orange: #F07818;
$yellow: #ffd84a;
$pink: #ff8181;
$blue: #267491;

