@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;



.home {

 &__hero{
     height: 50vh;
     background-image: url("../../assets/Images/LearningHero1.jpeg") ;
     background-color: $cream; 
     height: 500px; 
     background-position: center; 
     background-repeat: no-repeat; 
     background-size: cover; 
 }


}