@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;

* {
    box-sizing: border-box;
}


.nav{

    display: flex;
    justify-content: center;
    background-color: $cream;
 

    &__wrapper {

    width: 100%;


    @include tablet {
        display: flex;
        justify-content: flex-start;
        width:auto;
        
    }

    @include desktop {
        display: flex;
    }

    @include bigdesktop {
        display: flex;
    }

}

    &__box {
        display: flex;
        justify-content: center;
        align-items: center;
       
        height: 4.5rem;
        width: 100%;

        @include tablet {
            height: 80px;
            width: 200px;
          
        }

     
    }

    &__logo {
        text-decoration: none;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 1.6rem;
        font-weight: 100;
        
        width: 170px;

        @include tablet {
            margin-left: 2rem;
            margin-top: 0.5rem;

        }
        
    }

    &__list {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-left: 2rem;
        height: 2.5rem;

        @include tablet {
            margin-left: 5vw;
            padding-left: 0.5rem;

        }
    }

    &__item {
        height: 40px;
        width: 50%;
        margin-right: 2rem;

        @include tablet {
            height: 80px;
            width: 80px;
            line-height: 80px;
            flex-direction: row;
        }


        &--search {
            height: 2rem;
            line-height: 2rem;

            @include tablet {
                padding-top: 1.6rem;
                margin-right: 0.5rem;

            }
        }

        &--upload {
            height: 2rem;

            @include tablet {
                width: 50%;
            }
        }
    }

    &__block {
        display: flex;
        flex-direction: row;
        justify-content: center;

        margin-bottom: 1rem;

        @include tablet {

        }


        &__--1{
            @include tablet {
                justify-content:flex-start;
               
            }
        }

    }



    &__link {
        text-decoration: none;
    }


    &__img {
        height: 40px;
        width:42px;
        border-radius: 50%;
        border: 2px solid orange;

        &--1 {

            @include tablet {
                display:none;
            }

        }

        &--2 {
            display:none;
           

             @include tablet {
                display: flex;
                margin-top: 1.5rem;
                margin-right: 2rem;
             }
            
        }
    }

&__input {
    width: 105%;
}



&__up-button {
    background-color: #fdcb0b;
    border: none;
    color: rgb(222, 94, 9);
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 3px;
    font-size: 0.5rem;
    width:100%;
  
     @include tablet {
      min-width: 110px;
    
     }
     
  }

    
}


    

