@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;

.results-container{

     display: flex;
     flex-direction: column;

     @include tablet {
          display: flex;
          flex-direction: row;
          align-items: center;
     }
}

