@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;

.results__container{
     display: flex;
     flex-direction: center;
     flex-wrap: wrap;
     justify-content: center;
     align-items: center;

     @include tablet {
          display: flex;
          flex-direction: row;
          justify-content: center;
     }
}

a {
     display: flex;
     height: 1.5rem;
     justify-content: center;
     align-items: center;
}


