@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;


h4 {
     margin: 0;
     color: $blue;
}

.results{
     background-color: rgb(224, 238, 243);

     &__box1{ 
          padding-top: 1rem;
     }

     &__box2 {
          padding-top: 1rem;
          padding-bottom: 1rem;
     }

     &__img{
          height: 50px;
          width: 54px;
          border-radius: 50%;
          border-style: solid;
          border-color: $blue;
          border-width: 4px;
          margin-bottom: 1rem;
     }
}

.results__container{
     display: flex;
     flex-direction: center;
     flex-wrap: wrap;
     justify-content: center;
     align-items: center;

     @include tablet {
          display: flex;
          flex-direction: row;
          justify-content: center;
     }
}

a {
     display: flex;
     height: 1.5rem;
     justify-content: center;
     align-items: center;
}

button {
     display: block;
     margin: 20px auto;
     padding: 10px 20px;
     background-color: rgb(90, 174, 190);
     color: white;
     border: none;
     border-radius: 4px;
     cursor: pointer;

     &:hover {
         background-color:rgb(51, 110, 110);
     }
 }

