@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;


* {
    box-sizing: border-box;
}



li {
    text-decoration: none;
    list-style-type: none;
}

.UploadHP__Box1 {
    padding-top: 3rem;
}

.UploadHP__Title {
    color: $blue;
}


.graybox {
    height: 100px;
    width:100%;
    background-color: rgb(248, 248, 248);
    border-style: solid;
    border-color: rgb(134, 132, 132);
    border-width: 1px;

}

.selected-video {
padding-top:5rem;

 &__outerbox{
    
    margin-left: 10%;
    
 }


    &__Section--2 {
        width: 80%;

    }


    &__Video {
        width: 100%;
        height: 20vh;
        background-color: rgb(6, 5, 5);

        @include desktop {
            height:40vh;
         }
    }

}


 .Video {
     background-color: lightyellow;
 
     &__Player {
         width: 100%;
         height: 20vh;

     }
 
     &__Bar {
         background-color: gray;
         height: 2%;
     }
 }
 


.article__Text {

    margin-left: 10%;
    width:90%;
}


.next-video {
    

    @include desktop {
        //  width: 500px;
        
         right: 4%;
         top: 80%;
     }



    &__item {
        //  max-width: 300px;
         height: 150px;
    }

    &__header {
        margin: 0.6rem;
        padding-left:2rem;
    }

    &__subheader {
        color: black;
        margin: 0rem;
        padding: 0.5rem;
        font-size: 0.9rem;
    }

    &__IMG {
        width: 150px;
        height: 100px;
    }

    &__box {
        height: 100px;
        display: flex;
        margin-bottom: 1rem;
    }

    &__container {
        height: 100px;
        width: 200px;

    }

    &__txt {
        margin: 0px;
        font-size: 0.8rem;
        margin-left: 0.5rem;
    }
}



.comments {

&__avatarIMG {
    height: 30px;
    width:32px;
    border-radius: 50%;
}

}